<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	 <link rel="stylesheet" href="/css/bootstrap.min.css">
	 <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle navbar-toggle-sidebar collapsed">
			MENU
			</button>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="http:/admin">
				Administrator
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">      
			
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/home" target="_blank">Visit Site</a></li>
				 <li><a href="<%= session.home.login %>"><i class="glyphicon glyphicon-user" aria-hidden="true"></i> <%= session.home.user %></a></li>
				 
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>  	<div class="container-fluid main-container">
  		<div class="col-md-2 sidebar">
  			<div class="row">
	<!-- uncomment code for absolute positioning tweek see top comment in css -->
	<div class="absolute-wrapper"> </div>
	<!-- Menu -->
	<div class="side-menu">
		<nav class="navbar navbar-default" role="navigation">
			<!-- Main Menu -->
			<div class="side-menu-container">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/admin"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
					<li><a href="/admin/products"><span class="glyphicon glyphicon-list-alt"></span> Products</a></li>
					<li><a href="/admin/report"><span class="glyphicon glyphicon-cloud"></span> Report </a></li>
					<li><a href="/admin/topsell"><span class="glyphicon glyphicon-cloud"></span> Top Selling Product </a></li>


				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>

	</div>
</div>  		</div>
  		<div class="col-md-10 content">
  			  <div class="panel panel-default">
	<div class="panel-heading">
		Update Processor
	</div>
		
		<div class="container">
			
			<form method="post">
				<input class="form-control" type="hidden      " name='id' value="<%= cpuList[0].id %>"/>  
         		 <div class="form-group input-group">
            		<span class="input-group-addon">Brand</span>
           			<input class="form-control" type="text" name='brand' value="<%= cpuList[0].brand %>"/>     
          		</div>
          		<div class="form-group input-group">
            		<span class="input-group-addon">Model</span>
           			 <input class="form-control" type="text" name="model" value="<%= cpuList[0].model %>">  
          		</div>
          		<div class="form-group input-group">
            		<span class="input-group-addon">Speed</span>
           			 <input class="form-control type="text" name="speed" value="<%= cpuList[0].speed %>">         
          		</div>
          		<div class="form-group input-group">
            		<span class="input-group-addon">Core</span>
           			<input class="form-control type="text" name="core" value="<%= cpuList[0].core %>">          
          		</div>
          		<div class="form-group input-group">
            		<span class="input-group-addon">Thread</span>
           			<input class="form-control type="text" name="thread" value="<%= cpuList[0].thread %>">       
          		</div>
          		<div class="form-group input-group">
            		<span class="input-group-addon">TDP</span>
           			 <input class="form-control type="text" name="tdp" value="<%= cpuList[0].tdp %>">         
          		</div>
          		<div class="form-group input-group">
            		<span class="input-group-addon">Socket</span>
           			 <input class="form-control type="text" name="socket" value="<%= cpuList[0].socket %>">         
          		</div>
          		<div class="form-group input-group">
            		<span class="input-group-addon">Quantity</span>
           			 <input class="form-control type="text" name="quantity" value="<%= cpuList[0].quantity %>">         
          		</div>
          		<div class="form-group input-group">
            		<span class="input-group-addon">Price</span>
           			 <input class="form-control type="text" name="price" value="<%= cpuList[0].price %>">         
          		</div>
         		<div class="form-group input-group">
            		
           			 <input class="btn btn-success " type="submit" value="Update" /> 
           			 

          		</div>
          		
			</form>
				
				
				
		</div>
	
				
				

	</div>
</div>
  		</div>

  		

  		
  		<footer class="pull-left footer">
  			<p class="col-md-12">
  				<hr class="divider">
  				Copyright &COPY; 2017 <a href="">ATP3</a>
  			</p>
  		</footer>
  	</div>
</body>
</html>